# New Section

In [72]:
import pandas as pd
import numpy as np

In [73]:
input = pd.read_excel("Input_1.xlsx")
print(input)

        Name  id Chapter Tag Concept Test 1 - score  \
0    Darshan  34       C8S11                      4
1      Durga  35       C8S11                      3
2      Idhaz  36       C8S11                      5
3    Kishore  37       C8S11                      1
4       Mano  38       C8S11                      4
5     Nandha  39       C8S11                      3
6   Nandhini  40       C8S11                      5
7     Rubika  42       C8S11                      2
8      Saila  43       C8S11                      -
9    Shankar  44       C8S11                      1
10     Tarun  45       C8S11                      3
11    Thanis  46       C8S11                      5
12   Vignesh  47       C8S11                      3

   Concept Test 1 - time-taken (seconds) Concept Test 1 - answered  \
0                                    118                         4
1                                    886                         5
2                                    112                         5
3                                     29                         3
4                                    242                         5
5                                     55                         5
6                                    120                         5
7                                    138                         5
8                                      -                         -
9                                     65                         5
10                                    71                         5
11                                   199                         5
12                                   115                         5

   Concept Test 1- correct Concept Test 1- wrong Concept Test 1- skipped  \
0                        4                     0                       1
1                        3                     2                       0
2                        5                     0                       0
3                        1                     2                       2
4                        4                     1                       0
5                        3                     2                       0
6                        5                     0                       0
7                        2                     3                       0
8                        -                     -                       -
9                        1                     4                       0
10                       3                     2                       0
11                       5                     0                       0
12                       3                     2                       0

   Concept Test 2 - score  ... Full Chapter Test 1 - answered  \
0                       1  ...                             10
1                       3  ...                             10
2                       3  ...                             10
3                       -  ...                             10
4                       0  ...                             10
5                       0  ...                              9
6                       3  ...                             10
7                       0  ...                             10
8                       0  ...                              -
9                       1  ...                             10
10                      2  ...                              4
11                      2  ...                             10
12                      2  ...                             10

   Full Chapter Test 1- correct Full Chapter Test 1- wrong  \
0                             6                          4
1                             4                          6
2                             4                          6
3                             4                          6
4                             4                          6
5                             2                          7
6                             7                          3
7                             7                          3
8                             -                          -
9                             4                          6
10                            1                          3
11                            3                          7
12                            4                          6

   Full Chapter Test 1- skipped Full Chapter Test 2 - score  \
0                             0                           6
1                             0                           6
2                             0                           8
3                             0                           0
4                             0                           2
5                             1                           0
6                             0                           5
7                             0                           5
8                             -                           -
9                             0                           2
10                            6                           1
11                            0                           1
12                            0                           -

   Full Chapter Test 2 - time-taken (seconds) Full Chapter Test 2 - answered  \
0                                         397                             10
1                                         539                             10
2                                         583                             10
3                                          37                              9
4                                         657                             10
5                                          30                             10
6                                         691                             10
7                                         280                             10
8                                           -                              -
9                                         143                             10
10                                        139                              9
11                                         72                             10
12                                          -                              -

   Full Chapter Test 2- correct Full Chapter Test 2- wrong  \
0                             6                          4
1                             6                          4
2                             8                          2
3                             0                          9
4                             2                          8
5                             0                         10
6                             5                          5
7                             5                          5
8                             -                          -
9                             2                          8
10                            1                          8
11                            1                          9
12                            -                          -

   Full Chapter Test 2- skipped
0                             0
1                             0
2                             0
3                             1
4                             0
5                             0
6                             0
7                             0
8                             -
9                             0
10                            1
11                            0
12                            -

[13 rows x 57 columns]

In [74]:
output = pd.DataFrame(columns= ['Name','Username','Chapter Tag','Test_Name','answered','correct','score','skipped','Time_Taken','Wrong'])

In [75]:
input.iloc[:]

,Name,id,Chapter Tag,Concept Test 1 - score,Concept Test 1 - time-taken (seconds),Concept Test 1 - answered,Concept Test 1- correct,Concept Test 1- wrong,Concept Test 1- skipped,Concept Test 2 - score,...,Full Chapter Test 1 - answered,Full Chapter Test 1- correct,Full Chapter Test 1- wrong,Full Chapter Test 1- skipped,Full Chapter Test 2 - score,Full Chapter Test 2 - time-taken (seconds),Full Chapter Test 2 - answered,Full Chapter Test 2- correct,Full Chapter Test 2- wrong,Full Chapter Test 2- skipped
0,Darshan,34,C8S11,4,118,4,4,0,1,1,...,10,6,4,0,6,397,10,6,4,0
1,Durga,35,C8S11,3,886,5,3,2,0,3,...,10,4,6,0,6,539,10,6,4,0
2,Idhaz,36,C8S11,5,112,5,5,0,0,3,...,10,4,6,0,8,583,10,8,2,0
3,Kishore,37,C8S11,1,29,3,1,2,2,-,...,10,4,6,0,0,37,9,0,9,1
4,Mano,38,C8S11,4,242,5,4,1,0,0,...,10,4,6,0,2,657,10,2,8,0
5,Nandha,39,C8S11,3,55,5,3,2,0,0,...,9,2,7,1,0,30,10,0,10,0
6,Nandhini,40,C8S11,5,120,5,5,0,0,3,...,10,7,3,0,5,691,10,5,5,0
7,Rubika,42,C8S11,2,138,5,2,3,0,0,...,10,7,3,0,5,280,10,5,5,0
8,Saila,43,C8S11,-,-,-,-,-,-,0,...,-,-,-,-,-,-,-,-,-,-
9,Shankar,44,C8S11,1,65,5,1,4,0,1,...,10,4,6,0,2,143,10,2,8,0
10,Tarun,45,C8S11,3,71,5,3,2,0,2,...,4,1,3,6,1,139,9,1,8,1
11,Thanis,46,C8S11,5,199,5,5,0,0,2,...,10,3,7,0,1,72,10,1,9,0
12,Vignesh,47,C8S11,3,115,5,3,2,0,2,...,10,4,6,0,-,-,-,-,-,-

In [83]:
print(len(input.iloc[0,:]))

57

this code can run for any number of tests but the only this test names should be entered

In [84]:
name = [0]*len(input.iloc[0,:])
name[3:len(input.iloc[0,:]):6] =["Concept Test 1","Concept Test 2","Concept Test 3","Concept Test 4","Topic Test 1","Concept Test 5","Topic Test 2","Full Test 1","Full test 2"]
print(name[3:56:6])

['Concept Test 1', 'Concept Test 2', 'Concept Test 3', 'Concept Test 4', 'Topic Test 1', 'Concept Test 5', 'Topic Test 2', 'Full Test 1', 'Full test 2']

In [79]:
x = 0
for i in range(len(input.iloc[:])):
  for j in range(3,56,6):
    if input.iat[i,j] != '-':
      output.loc[len(output.index)] = [input.iat[i,0],input.iat[i,1],input.iat[i,2],name[j],input.iat[i,j+2],input.iat[i,j+3],input.iat[i,j],input.iat[i,j+5],input.iat[i,j+1],input.iat[i,j+4]]

In [80]:
Taskoutput=output.set_index('Name')

In [81]:
datatoexcel = pd.ExcelWriter('Taskoutput.xlsx')
  
# write DataFrame to excel
Taskoutput.to_excel(datatoexcel)
datatoexcel.save()